* {
  all: unset;
  font-family: "Monospace";
}
// WINDOW RELATED CSS
.bg {
  background-color: #0c091a;
  border: 2px solid #f5f5f5;
}

.notes {
  padding: 10px 20px 10px 5px;
}

window {
  background: #0c091a;
  color: #f5f5f5;
  //border-radius: 2rem;
  border: 3px solid #0c091a;
}

.wikipedia-text {
  padding: 25px;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  color: #f5f5f5;
}
